# Python artifacts
__pycache__/
.ipynb_checkpoints/

# Docs build artifacts
docs/build/
docs/source/apidocs/
docs/source/examples_gallery/
docs/source/gen_modules/backreferences/
docs/source/sg_execution_times.rst

paper/pgf/
