# Python artifacts
__pycache__/
.coverage
.ipynb_checkpoints/
coverage.xml

# Docs build artifacts
docs/build/
docs/source/apidocs/
docs/source/examples_gallery/
docs/source/gen_modules/backreferences/
docs/source/sg_api_usage.rst
docs/source/sg_execution_times.rst

# Papers build artifacts
papers/eucap2024/pgf/
papers/joss/paper.pdf
papers/joss/paper.jats
papers/joss/media/

# Slides
_static/
